/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-black: #000000;
  --color-dark-gray: #4d4d4d;
  --color-gray: #616161;
  --color-light-gray: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  cursor: default;
  background-color: var(--color-dark-pink);
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-pink);
  align-items: center;
  color: var(--color-white);
  padding: 8px;
}

.navbar__menu {
  display: flex;
  margin: 0px;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0px 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
  border: 1px solid var(--color-white);
}

.navbar__menu__item:hover {
  background-color: var(--color-dark-pink);
}

/* Home */
#home {
  height: 100vh;
  align-items: center;
}

.wanted {
  display: flex;
  justify-content: space-evenly;
  margin-top: 200px;
}

.wanted__carry {
  background-color: var(--color-yellow);
  margin-right: 300px;
}

.wanted__supporter {
  background-color: var(--color-blue);
}

/* Footer */
#footer {
  background-color: var(--color-black);
  height: 100px;
}

/* Wanted common */
.wanted__button {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  text-align: center;
  padding: 10%;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.wanted__button:hover {
  transform: scale(1.4);
  transition: all 200ms ease;
  border: 3px solid var(--color-black);
}

/* Section common */
.section {
  padding: 50px;
  padding-top: 100px;
  max-width: 1200px;
  margin: auto;
}
